* {
  margin: 0px;
}

.externos {
  color: aqua;
  font-size: 20px;
}

/* #wrapper p:nth-child(1),
#wrapper p:nth-child(3) {
  background-color: #CCCCCC;
}
 
#wrapper p:nth-child(2), 
#wrapper p:nth-child(4) {
  background: #999999;
} */

#wrapper p:nth-child(odd){
  background: #999999;
}

#wrapper p:nth-child(even){
  background: #CCCCCC;
}

#selectores > p.mitexto2 {
  color: #990000;
}

/* #selectores > p.mitexto2 + p {
  color: #990000;
} */

#selectores > p.mitexto2 ~ p {
  color: #990000;
}