* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  text-align: center;
}

#agrupar {
  width: 60em;
  margin: 15px auto;
  text-align: left;
}

#cabecera {
  background: #FFFBB9;
  border: 1px solid #999999;
  padding: 20px;
}

#menu {
  background: #CCCCCC;
  padding: 5px 15px;
}

#menu li {
  display: inline-block;
  list-style: none;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#seccion {
  float: left;
  width: 41.25em;
  margin: 20px;
}

#columna {
  float: left;
  width: 13.75em;
  margin: 20px 0px;
  padding: 20px;
  background: #CCCCCC;
}

#pie {
  clear: both;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #999999;
}

article {
  background: #FFFBCC;
  border: 1px solid #999999;
  padding: 20px;
  margin-bottom: 15px;
}

article footer {
  text-align: right;
}

figcaption {
  font-size: 14px;
  font: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

