body {
  width: 100%;
  height: 100%;
}

.item-a {
  grid-area: header;
  background-color: aqua;
  height: 100px;
}

.item-b {
  grid-area: main;
  background-color: tomato;
  height: 100px;
}

.item-c {
  grid-area: sidebar;
  background-color: blueviolet;
  height: 100px;
}

.item-d {
  grid-area: footer;
  background-color: papayawhip;
  height: 100px;
}

.container {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template: none auto repeat(4, 1fr);
  grid-template-areas: 
  "header header header header"
  "main main . sidebar"
  "footer footer footer footer"
  ;
  text-align: center;
  font-size: 4em;
}