html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
    font-family: Ubuntu Mono;
}

header p{
    margin: 30px auto;
    padding: 0;
    width: 100%;
    max-width: 1000px;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: papayawhip;
    border: 4px solid darkcyan;
    background-color: tomato;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1000px;
    border: 4px solid darkcyan;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}

.container div {
    display: block;
    color: papayawhip;
    background-color: tomato;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

a {
    text-decoration: none;
}